*{
    margin: 0px 0px 0px 0px;
}

#top-panel{
    background-color: white;
    width: 100%;
    height: 5%;
    margin-bottom:30px;
    position:fixed;
    top: 0px;
    overflow: hidden;
    z-index: 10;
}

#logo{
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    display: block;
    float: left;
}

#top-panel ul{
    list-style: none;
    float: right;
    height: 5vh;
    width: 50%;
    text-align: right;
    padding: 25px 35px 25px 35px;
}

#top-panel li{
    display: inline;
    padding: 0px 30px 0px 30px;
}

.menu{
    color: black;
    text-decoration: none;
    font-size: 38px;
}

#header{
    background-image:url('/static/Gojo/images/w.jpeg');
    background-size: cover;
    background-attachment:fixed;
    background-image: no-repeat;
    background-color: black;
    width:100%;
    height:95vh;
    z-index:0;
    margin-top: 100px;
}

#header h5{
    font-size: 20px;
}

#quote{
    background-color:white;
    width:94%;
    height:25vh;
    margin-top:6px;
    text-align: center;
    margin-bottom:9px;
    position: relative;
    padding-right: 150px;
}

#quote p{
    font-size: 120px;
    color: black;
    position: absolute;
    left:100px;
    top: 110px;
}

#about{
    height: 90vh;
    width: 100%;
    background-color: #c4c6d7;
}

#about table{
    width:100%;
    text-align: justify;
}

#about .img{
    background-image: url('/static/Gojo/images/&.jpeg');
    background-size: cover;
}

#about td {
    width: 50vh;
    height: 90vh;
    background-color: #7793b5;
}

#about .text{
    width:50vh;
    position: relative;
}

#about h1{
    font-size: 80px;
    font-weight:100;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:70px;
    left: 50px;
}

#about .text .first{
    font-size:50px;
    color:black;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:200px;
    left: 54px;
    right:40px;
}

#about .text .second{
    font-size:50px;
    color:black;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:500px;
    left: 54px;
    right:40px;
}

#about .text .third{
    font-size:50px;
    color:black;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:800px;
    left: 54px;
    right:40px;
}

#buddha{
    background-color: white;
    height: 90vh;
    width: 100%;
    margin-top:300px;
}

#buddha table{
    width:100%;
    text-align: justify;
    height: 90vh;
}

#buddha .img{
    background-image: url('/static/Gojo/images/mainpage1.jpeg');
    background-size: cover;
}

#buddha td {
    width:50vh;
    height: 80vh;
    background-color:#47598c;
}

#buddha .text{
    position: relative;
}

#buddha h1{
    font-size: 80px;
    font-weight:100;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:70px;
    left: 50px;
    color: white;
}

#buddha p{
    font-size:50px;
    color:white;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:200px;
    left: 54px;3
}


#third_panel{
    background-color: white;
    height: 90vh;
    width: 100%;
    margin-top:300px;
}

#third_panel table{
    width:100%;
    text-align: justify;
    height: 90vh;
}

#third_panel .img{
    background-image: url('/static/Gojo/images/mainpage2.jpeg');
    background-size: cover;
}

#third_panel td {
    width:50vh;
    height: 80vh;
    background-color:#dfdfda;
}

#third_panel .text{
    position: relative;
}

#third_panel h1{
    font-size: 80px;
    font-weight:100;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:70px;
    left: 50px;
}

#third_panel p{
    font-size:50px;
    color:black;
    white-space:pre-line;
    word-wrap: break-word;
    position: absolute;
    top:200px;
    left: 54px;
}





