{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Gojo/css/cast.css' %}" />
</head>
<body>
    <div id="top-panel">
        <a id="logo" href="{% url 'home' %}"><h1>The Honored One</h1></a>
        <ul>
            <li><a class='menu' href="{% url 'story' %}">История</a></li>
            <li><a class='menu' href="{% url 'analyse' %}">Анализ</a></li>
            <li><a class='menu' href="{% url 'abilities' %}">Способности</a></li>
            <li><a class='menu' href="{% url 'arts'%}">Арты</a></li>
        </ul>
    </div>

    <div class="night"></div>




</body>
</html>