{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Honered One</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Gojo/css/main.css' %}" />
</head>
<body>
    <script src="{% static 'Gojo/css/mainpage.js'% }"></script>
    <div id="top-panel">
        <a id="logo" href="{% url 'home' %}"><h1>The Honored One</h1></a>
        <ul>
            <li><a class='menu' href="{% url 'story' %}">История</a></li>
            <li><a class='menu' href="{% url 'analyse' %}">Анализ</a></li>
            <li><a class='menu' href="{% url 'abilities' %}">Способности</a></li>
            <li><a class='menu' href="{% url 'arts'%}">Арты</a></li>
        </ul>
    </div>

    <div id="header"></div>

    <div id="quote">
        <p> <<Меджу небом и землей, лишь я один достойный>></p>
    </div>

    <div id="about">
        <table>
            <tr>
                <td class="img"></td>
                <td class="text">
                    <h1> Годжо Сатору  </h1>
                    <p class="first">Один из главных персонажей Jujutsu Kaisen. Гордость Семьи Годжо, первый за четыреста лет человек, унаследовавший и Безграничность, и Шесть Глаз.</p>
                    <p class="second">Он работает преподавателем в Токийской школе магии и использует свое влияние для защиты и обучения сильных молодых союзников.</p>
                    <p class="third">Сатору является для меня особенным персонажем, поэтому я и решил сделать, хоть и скромный, но проэкт в котором попытаюсь выразить всю любовь к нему.</p>
                </td>
            </tr>
        </table>
    </div>

    <div id="buddha">
        <table>
            <tr>
                <td class="img"></td>
                <td class="text">
                    <h1> Сатору значит просвященный </h1>
                    <p> Персонаж то то то то и тд и тд пупупупупуп</p>
                </td>
            </tr>
        </table>
    </div>

    <div id="third_panel">
        <table>
            <tr>
                <td class="img"></td>
                <td class="text">
                    <h1> Сатору значит просвященный </h1>
                    <p> Персонаж то то то то и тд и тд пупупупупуп</p>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>