{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Honered One</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Gojo/css/main.css' %}" />
</head>
<body>

    <div id="top-panel">
        <a id="logo" href="{% url 'home' %}">The Honored One</a>
        <ul>
            <li><a class ="menu" href="{% url 'story' %}">История</a></li>
            <li><a class="menu" href="{% url 'analyse' %}">Анализ</a></li>
            <li><a class="menu" href="{% url 'abilities' %}">Способности</a></li>
            <li><a class="menu" href="{% url 'arts'%}">Арты</a></li>
        </ul>
    </div>

    <div id="medium">
        <p id="main_phrase"> Между небом и землей, лишь я один достойный </p>
        <img src="{% static 'Gojo/images/mainpage2.jpeg' %}" alt="Основное изображение">
        <p>Персонаж манги "Магическая битва", текст текст текст текст текст текст текст текст текст текст текст текст</p>

    </div>

</body>
</html>